h1{
    background-color: maroon;
}

.post{
 background-color: blanchedalmond;   
}

.username{
    font-style: italic;
}

a{
border: 1px black  solid;
background-color: white;
text-decoration: none;
padding: 5px;
margin: 20px;
font-size: large;
display: inline-block;
width: auto;


}